.service-container{
    height: 90vh;
    width: 100%;
    background: url('/assets/ng-bd.png') no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,.6);
    background-blend-mode: multiply;
    background-position-x: center;
    background-position-y: center;
}

.service-container p {
  padding: 15% 0 0 0;
  text-align: center;
  font-size: 50px;
  color: #eaeaea;
  font-family: 'Poppins', sans-serif;
}